---
import { Image } from "astro:assets";
import aboutImage from "@assets/about1.jpg";
---

<div class="w-full object-cover max-w-4xl justify-center items-center mx-auto my-12">
  <Image src={aboutImage} alt="About Image" />
</div>
