---
import Logo from "assets/EMERGING Media.png";
---

<style>
  #footer {
    background: #000;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
    margin-top: 24px;
  }

  #footer .footer-top {
    background: #111;
    padding: 60px 0 30px 0;
  }

  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }

  #footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 10px;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    border-left: 4px solid #0096c7;
  }

  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #eee;
  }

  #footer .footer-top .social-links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #333;
    color: #eee;
    line-height: 1;
    margin-right: 4px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }

  #footer .footer-top .social-links a i {
    font-size: 16px;
  }

  #footer .footer-top .social-links a:hover {
    background: #0096c7;
    color: #fff;
  }

  #footer .footer-top .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  #footer .footer-top .row {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  #footer .footer-top .footer-info,
  #footer .footer-top .footer-links,
  #footer .footer-top .footer-contact,
  #footer .footer-top .footer-newsletter {
    width: 100%;
  }

  #footer .social-links {
    justify-content: center;
  }

  #footer .footer-top .social-links a {
    margin: 5px;
  }
  #footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
  }

  #footer .footer-top h4::before,
  #footer .footer-top h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
  }

  #footer .footer-top h4::before {
    right: 0;
    background: #555;
  }

  #footer .footer-top h4::after {
    background: #0096c7;
    width: 60px;
  }

  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }

  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #footer .footer-top .footer-links ul li {
    border-bottom: 1px solid #333;
    padding: 10px 0;
  }

  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }

  #footer .footer-top .footer-links ul a {
    color: #eee;
  }

  #footer .footer-top .footer-links ul a:hover {
    color: #0096c7;
  }

  #footer .footer-top .footer-contact p {
    line-height: 26px;
  }

  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }

  #footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
  }
</style>

<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="footer-info">
          <a href="/">
            <img src={Logo.src} alt="Emerging Media Logo" class="w-full" />
          </a>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="/about">About Us</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="/services">Services</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <div class="text-left text-white">
            <p>
              25th Floor, East Tower, <br />
              World Trade Center,<br />
              Colombo 01, Sri Lanka.<br />
              <strong>Phone:</strong> 0778 478 678<br />
              <strong>Email:</strong> info@emergingmedia.lk<br />
            </p>

            <div class="social-links">
              <a
                href="https://www.facebook.com/emergingmedia.lk/"
                target="_blank"
                class="facebook">
                <i class="bi bi-facebook"></i>
              </a>
              <a
                href="https://www.instagram.com/emergingmedia.lk/"
                target="_blank"
                class="instagram">
                <i class="bi bi-instagram"></i>
              </a>
              <a
                href="https://www.linkedin.com/company/emerging-media-pvt-ltd"
                target="_blank"
                class="linkedin">
                <i class="bi bi-linkedin"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-newsletter">
          <h4>Business Hours</h4>
          <div class="text-left text-white">
            <p>Monday : Friday: 8.30am to 5.30pm</p>
            <p>Saturday : 8.30am to 1pm</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong> 2025 Emerging Media (Pvt) Ltd</strong>. All
      Rights Reserved
    </div>
  </div>
</footer>
