---
import { Picture } from "astro:assets";
import imageUrl from "assets/Background.jpg";
import Link from "./ui/link.astro";
---

<main class="relative w-full h-screen flex items-center justify-center">
  <!-- Background Image -->
  <Picture
    src={imageUrl}
    alt="Background Image"
    class="absolute inset-0 w-full h-full object-cover -z-10  bg-black/70"
  />

  <!-- Content -->
  <div class="relative z-10 text-black text-center bg-white/40">
    <div>
      <h1
        class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter p-3">
        Unleash Impactful OOH Advertising
      </h1>
      <p class="text-lg mt-4 text-slate-600 max-w-xl justify-center mx-auto">
        Emerging Media creates bold, high-impact OOH campaigns that drive
        real-world results, capture attention like never before, and elevate
        your brand’s presence in the world.
      </p>
      <div class="mt-6 flex flex-col sm:flex-row gap-3 justify-center">
        <Link
          href="#"
          href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
          target="_blank"
          class="flex gap-1 items-center justify-center"
          rel="noopener">
          Scedule a Call
        </Link>
      </div>
    </div>
  </div>
</main>
