---
import Link from "./ui/link.astro";
import PlayButton from "@assets/play.png";
const videoId = "IGqEKbSN-mk";
const thumbnail = `https://img.youtube.com/vi/${videoId}/hqdefault.jpg`;
---

<div
  class="flex flex-col items-center text-center mt-24 bg-gradient-to-r from-indigo-300 from-10% via-sky-500 via-30% to-violet-400 to-90% rounded-md pt-10 pb-20">
  <h2 class="text-white text-4xl md:text-5xl tracking-tight mt-5 mb-10 font-bold">
    Creative Solutions for a Digital World
  </h2>

  <style>
    .youtube-container {
      @apply relative w-full max-w-[560px] max-h-[720px] cursor-pointer rounded-md overflow-hidden;
    }
    .youtube-thumbnail {
      @apply w-full object-cover rounded-lg;
    }
    .play-button {
      @apply absolute inset-0 flex items-center justify-center bg-black/50 transition-opacity duration-300 hover:bg-black/70;
    }
    .play-button img {
      @apply w-16 h-16;
    }
  </style>

  <!-- Clickable YouTube Video -->
  <a
    href={`https://www.youtube.com/watch?v=${videoId}`}
    target="_blank"
    rel="noopener noreferrer"
    class="youtube-container">
    <img
      src={thumbnail}
      class="youtube-thumbnail"
      alt="YouTube video thumbnail"
    />
    <div class="play-button">
      <img src={PlayButton.src} alt="Play button" />
    </div>
  </a>
</div>
