---
import { Picture } from "astro:assets";
import Mission from "assets/mission.jpg";
import Vision from "assets/vision.jpg";
import About from "assets/about.jpg";
import type Item from "types/interfaces.ts";

const menuitems: Item[] = [
  {
    title: "Mission",
    path: Mission.src,
    alt: "Mission",
    description:
      "To be the best location based digital display advertising company within the next five years in Sri Lanka.",
  },
  {
    title: "About",
    path: About.src,
    alt: "About",
    description:
      "To be the best location based digital display advertising company within the next five years in Sri Lanka.",
  },
  {
    title: "Vision",
    path: Vision.src,
    alt: "Vision",
    description:
      "To be the best location based digital display advertising company within the next five years in Sri Lanka.",
  },
];
---

<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl my-12 px-5">
  {
    menuitems.map((teamMemberEntry) => (
      <div class="group">
        <div class="w-full bg-slate-200 rounded-md transition group-hover:-translate-y-1">
          <Picture
            src={teamMemberEntry?.path as string}
            alt={teamMemberEntry?.alt as string}
            sizes="(max-width: 800px) 100vw, 400px"
            width={400}
            height={400}
            class="w-full rounded-md group-hover:shadow-xl bg-white object-cover object-center"
          />
          <div class="text-center p-4">
            <h2 class="text-lg text-black">{teamMemberEntry?.title}</h2>
            <p class="text-sm text-slate-500">{teamMemberEntry?.description}</p>
          </div>
        </div>
      </div>
    ))
  }
</div>
