---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import "@fontsource-variable/bricolage-grotesque";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const isHome = Astro.url.pathname === "/";

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site,
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Emerging Media"
  : "Emerging Media - LARGEST LOCATION BASED DIGITAL LED DISPLAY ADVERTISING NETWORK IN SRI LANKA";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Emerging Media LK specializes in outdoor advertising for high brand impact."
      canonical={canonicalURL}
      twitter={{
        creator: "@hesha",
        site: "@emergingmedia",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Emerging Media - LARGEST LOCATION BASED DIGITAL LED DISPLAY ADVERTISING NETWORK IN SRI LANKA`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Emerging Media Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    {isHome ? null : <Navbar />}

    <!-- Only render Header on non-home pages -->
    <slot />
    <!-- Page content goes here -->
    <Footer />
    <!-- } -->
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
